body {
    background-color: #000000;
}
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
    --black: #1B1722;
    --white : #F0F0F0;
    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
*{
    font-family: 'Quicksand', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}
html{
    font-size: 62.5%;   
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background-color: var(--white);
    border-radius: 5rem;
}

.header{
    top: 0;right: 0;left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 1.4rem 7%;
    z-index: 999;
    background: transparent;
    backdrop-filter: blur(5px);
    text-transform: capitalize;
}
.header .logoContent{
    display: flex;
    align-items: center;
    opacity: 1;
}
.header .logoContent .logo img{
    height: 4rem;
    margin-bottom: 10px;
}
.logoName {
    color: var(--black);
    font-size: 2rem;
    font-weight: bolder;
}
.header .logoContent .logoName {
    color: var(--white);
    font-size: 2rem;
    font-weight: bolder;
}

.header .navbar a{
    font-size: 2rem;
    margin-right: 3rem;
    color: var(--white);
    font-weight: bold;
    text-decoration: none;
}
.header .navbar a:hover{
    border-bottom: .1rem solid var(--white);
    padding-bottom: .4rem;
}
.header .icon i{
    font-size: 2rem;
    margin-right: 2rem;
    color: var(--white);
    cursor: pointer;
}

.header .search{
    display: none;
    top: 100%;
    margin: 1.5rem 7%;
    background-color: transparent;
    width: 50%;
    right: 0;
    height: 5rem;
    position:  absolute;

}
.header .search input{
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    background-color: var(--white);
    color: var(--black);
    margin-right: 7%;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    box-shadow: var(--box-shadow);
}
.header .search.active{
    display: inline-block;
}
#menu-bar{
    display: none;
}


@media (max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.3rem 3rem;
    }
    .home .homeContent{
        margin-left: 0;
        width: 80%;
    }
}

@media (max-width:768px) {
    #menu-bar{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 25rem;
        background-color: var(--white);
        color: #1B1722;
        height: 80vh;
    }
    .header .navbar.active{
        right: 0;
    }
    .header .navbar a{
        display: block;
        font-size: 2rem;
        color: var(--black);
        margin: 1.5rem;
    }

    .home .homeContent{
        margin-left: 0;
        width: 90%;
    }
}

@media (max-width:600px){
    html{
        font-size: 50%;
    }

}
#box{
    background-color: rgba(0, 0, 0, 0.4);
    background-image: url(IMG/redvelvetbolo.jpg);
    background-repeat: no-repeat;
    background-blend-mode:darken;
    background-size: cover;
    font-size: large;
    min-height: 100vh;
}
#textBox1 h1{
    color: #e4e4e4;
    font-weight: bold;
}
#textBox1 h2{
    font-weight: bold;
    color: #e4e4e4;
}

.footerText{
    font-size: 1.3em;
    text-align: justify;
}

#endereco div{
    display: flex;
    flex-direction: row;
    align-items: top;
    margin-bottom: 10px;
}
.adressInfo:hover{
    transform: translateX(5px);
}
.boxFooter div span{
    font-size: 2em;
}
.social-container{
    display:grid;
    grid-template-columns: repeat(5, 4.125em);
}

.social{
    margin: .125em;
    width: 30px;
    height: 30px;
    font-size: 1.5em;
    color: rgb(19, 19, 19);
    border-radius: 50%;
    display: grid;
    place-items:center;
    border: 2px solid rgb(19, 19, 19);
}
.social:hover{
    background-color: #1B1722;
    color: #fff;
}
li::before {
    content: ">";
    border-radius: 1ch;
    padding-inline: 1ch;
    margin-inline-end: 1ch;
    font-weight: bold;
}
.listFooter{
    list-style: none;
    padding: .0;
}

.listFooter a{
    text-decoration: none;
    color: #1B1722;
}
.listFooter li:hover{
    color: rgb(253, 33, 33);
    transform: translateX(5px);
}
@media screen and (max-width: 600px) {
    #barrier {
        margin-top: 10%;
    }
    
}
